@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HSS";
  src: url("../public/fonts/HSSaemaul-Regular.ttf");
}

body {
  @apply font-light font-Pretendard;
}

button:disabled {
  @apply pointer-events-none opacity-30;
}

/* For Toast */
.Toastify__toast-body {
  font-family: "Pretendard";
  white-space: pre-line;
}
/* For Toast */

@layer components {
  /* Home */
  .mg-logo {
    @apply relative bg-[url(/images/ico/logo.svg)] bg-no-repeat w-[144px] h-[44px];
  }

  .mg-logo > a {
    @apply block indent-[-100%] overflow-hidden w-full h-full;
  }

  .mg-main-section {
    @apply flex items-start justify-center w-full pt-8 pb-12 mobile:pt-12 mobile:pb-16;
  }

  .mg-main-section > div {
    @apply flex flex-col items-center px-[30px] tablet:px-[10px] w-full tablet:max-w-[800px];
  }

  .mg-main-countdown {
    @apply flex justify-center w-full px-4 py-2 mx-10 mb-5 text-center text-white break-words border rounded bg-secondary-normal border-secondary-darker;
  }

  .mg-howto-item {
    @apply relative after:top-[50%] after:right-[-9px] after:mt-[-14px] flex flex-col items-center px-3 after:block after:absolute after:bg-[url('/images/ico/ico-howto-arrow.svg')] after:w-[9px] after:h-[14px];
  }

  /* For Slick (main) */
  .mg-review-card .slick-list {
    @apply flex w-full flex-col items-center justify-center min-h-[250px];
  }

  .mg-review-card .slick-slide {
    @apply z-0 h-full;
  }

  .mg-review-card .slick-slide.slick-current {
    @apply relative z-10;
  }

  .mg-review-card .slick-slide > div {
    @apply w-full transition-transform duration-300 scale-75 will-change-transform opacity-70;
  }

  .mg-review-card .slick-slide.slick-current > div {
    @apply w-[90%] ml-[5%] mobile:w-[140%] mobile:ml-[-20%] scale-100 opacity-100;
  }

  .mg-review-card .mg-slide-wrapper {
    @apply pb-6 justify-between min-h-[220px] flex flex-col bg-white p-8 rounded-[20px] shadow-review;
  }

  .mg-review-card .slick-slide .mg-slide-wrapper > div:first-child {
    @apply line-clamp-5;
  }

  .mg-review-card
    .slick-slide.slick-current
    .mg-slide-wrapper
    > div:first-child {
    @apply line-clamp-none;
  }

  .mg-review-card .mg-slick-prev {
    @apply absolute top-[50%] translate-y-[-100%] left-0 z-50 cursor-pointer text-xl;
  }

  .mg-review-card .mg-slick-next {
    @apply absolute top-[50%] translate-y-[-100%] right-0 z-50 cursor-pointer text-xl;
  }

  .mg-review-card .slick-dots li.slick-active button:before {
    @apply text-primary-normal;
  }
  .mg-review-card .slick-dots li button:before {
    @apply text-[14px] text-mono-100 hover:text-mono-200;
  }
  /* // For Slick (main) */

  .mg-gallery-filter {
    @apply flex flex-row justify-center mb-10 max-w-[220px] w-full;
  }

  .mg-gallery-filter > li {
    @apply flex justify-center w-[50%] py-1 mobile:py-2 border-2 border-primary-normal bg-white text-primary-normal items-center max-w-[220px] text-center;
  }

  .mg-gallery-filter .active {
    @apply font-semibold text-white bg-primary-normal;
  }

  /* Sidebar */
  .mg-sidebar {
    @apply fixed min-w-[150px] top-0 bottom-0 right-0 h-screen pt-[80px] px-6 text-right bg-white border-l shadow-context border-mono-borderLight z-[99];
  }

  .mg-sidebar-show {
    @apply translate-x-0;
  }

  .mg-sidebar-hide {
    @apply translate-x-[100%];
  }

  .mg-sidebar-dim {
    @apply fixed z-10 w-full h-full bg-transparent;
  }

  .mg-default-card {
    @apply relative flex justify-center w-full max-w-[230px] max-h-[220px] bg-white rounded-[14px] shadow-card mobile:hover:shadow-cardHover transition-all overflow-hidden;
  }

  .mg-mypage-card {
    @apply relative flex justify-center w-full max-w-[190px] max-h-[170px] bg-white rounded-[14px] shadow-card mobile:hover:shadow-cardHover transition-all overflow-hidden;
  }

  .mg-card-contents {
    @apply flex flex-col w-full;
  }

  .mg-card-desc {
    @apply px-4 py-3 text-base text-right text-ellipsis;
  }

  .mg-card-image {
    @apply w-full bg-[url(/dummy/user1.png)] bg-cover h-[150px] bg-center;
  }

  .mg-card-overlay {
    @apply py-[1.4rem] px-[1.4rem] mobile:py-[2rem] mobile:px-[2rem] duration-300 absolute top-0 bottom-0 left-0 right-0 grid items-center w-full h-full grid-cols-2 p-8 transition-all opacity-0 will-change-auto bg-primary-normal/90 group-hover:opacity-100;
  }

  .mg-mypage-overlay {
    @apply absolute top-0 bottom-0 left-0 right-0 grid items-center grid-cols-2 p-8 text-center transition-all duration-300 rounded-full w-36 h-36 will-change-auto bg-mono-500/20;
  }

  .mg-card-button {
    @apply w-[20px] h-[20px] bg-contain bg-center bg-no-repeat text-white;
  }

  .mg-mypage-button {
    @apply w-[50px] h-[50px] bg-black/40 rounded-full bg-no-repeat bg-center;
  }

  /* Footer */
  .mg-footer-github-col {
    @apply flex items-center justify-center w-full px-4 mb-3;
  }

  .mg-footer-github-title {
    @apply px-2 mr-4 text-sm text-center border-2 rounded-full border-mono-textFooter;
  }

  .mg-footer-github-link {
    @apply flex items-center hover:underline text-mono-textFooter hover:text-mono-400 hover:decoration-solid hover:font-medium;
  }

  /* Buttons */
  .mg-primary-button {
    @apply px-12 py-3 text-center text-white rounded bg-primary-normal hover:bg-primary-hover;
  }

  .mg-primary-button-small {
    @apply px-5 py-[2px] text-center text-white rounded bg-primary-normal hover:bg-primary-hover;
  }

  .mg-primary-button.disabled {
    @apply border rounded text-mono-textDisabled bg-mono-bgDisabled hover:bg-mono-bgDisabled border-mono-borderDisabled;
  }

  .mg-secondary-button {
    @apply px-12 py-3 text-white rounded bg-secondary-normal hover:bg-secondary-hover;
  }

  .mg-primary-button-round {
    @apply px-10 py-3 text-white rounded-full bg-primary-normal hover:bg-primary-hover;
  }

  .mg-secondary-button-round {
    @apply px-10 py-3 text-white rounded-full bg-secondary-normal hover:bg-secondary-hover;
  }

  .mg-negative-button-round {
    @apply px-10 py-3 text-white rounded-full bg-negative-normal hover:bg-negative-hover;
  }

  .mg-secondary-button-circle {
    @apply w-[48px] h-[48px] bg-secondary-normal hover:bg-secondary-hover rounded-full;
  }

  .mg-secondary-button-line {
    @apply w-[55px] h-[55px]  bg-transparent border-2 border-white rounded-full hover:bg-[rgba(0,0,0,.05)];
  }

  /* Forms */
  .mg-default-label {
    @apply block mb-2 font-medium text-mono-textNormal;
  }

  .mg-default-input {
    @apply px-4 py-2 border rounded-md border-mono-borderNormal placeholder:text-mono-textLight placeholder:font-light focus:outline-none focus-visible:ring placeholder:text-base;
  }

  .mg-required-input {
    @apply relative before:absolute before:content-[''] before:right-[-6px] before:top-[2px] before:w-[5px] before:h-[5px] before:bg-danger-normal before:rounded-full;
  }

  .mg-default-textarea {
    @apply w-full border rounded-md resize-none border-mono-borderNormal focus:outline-none focus-visible:ring placeholder:text-mono-textLight placeholder:font-light placeholder:text-base;
  }

  .mg-checkbox-group {
    @apply flex;
  }
  .mg-checkbox-group > input[type="checkbox"] + label {
    @apply flex flex-row items-center text-mono-textNormal;
  }
  .mg-checkbox-group > input[type="checkbox"] + label > span {
    @apply block border rounded-md border-mono-borderNormal bg-white w-[20px] h-[20px] bg-none;
  }
  .mg-checkbox-group > input[type="checkbox"]:checked + label > span {
    @apply border-primary-normal bg-primary-normal bg-[url(/images/ico/ico-checkbox.svg)] bg-center bg-no-repeat;
  }

  .mg-radio-group {
    @apply flex justify-center px-4;
  }
  .mg-radio-group > input[type="radio"] + label {
    @apply flex flex-col items-center justify-center;
  }
  .mg-radio-group > input[type="radio"] + label > span {
    @apply relative bg-white w-[20px] h-[20px] rounded-full border-mono-borderNormal border block;
  }
  .mg-radio-group > input[type="radio"]:checked + label > span {
    @apply before:content-[''] before:absolute before:top-[4px] before:left-[4px] before:w-[10px] before:h-[10px] before:bg-primary-normal before:rounded-full;
  }

  .mg-info-normal {
    @apply flex flex-row items-start text-sm text-secondary-hover;
  }

  .mg-info-normal > i {
    @apply w-[20px] h-[20px] bg-[url(/images/ico/ico-info.svg)] mr-1;
  }

  .mg-info-disabled {
    @apply flex flex-row items-start text-sm text-mono-textDisabled;
  }

  .mg-info-disabled > i {
    @apply grayscale w-[20px] h-[20px] bg-[url(/images/ico/ico-info.svg)] mr-1;
  }

  /* Icons */
  .mg-icon-sound-on {
    @apply bg-[url(/images/content/ico-sound-on.svg)] bg-no-repeat bg-center;
  }

  .mg-icon-lucky-money {
    @apply bg-center bg-no-repeat;
  }

  .mg-icon-card-edit {
    @apply bg-[url(/images/content/ico-card-edit.svg)] bg-no-repeat bg-center;
  }

  .mg-icon-sound-off {
    @apply bg-[url(/images/content/ico-sound-off.svg)] bg-no-repeat bg-center;
  }

  .mg-icon-mypage-edit {
    @apply bg-[url(/images/content/ico-mypage-edit.svg)] bg-no-repeat bg-center;
  }

  .mg-icon-capture {
    @apply bg-[url(/images/content/ico-capture.svg)] bg-no-repeat bg-center;
  }

  .mg-icon-share {
    @apply bg-[url(/images/ico/ico-share.svg)] bg-no-repeat bg-center;
  }
  /* background */
  .mg-background {
    @apply bg-center bg-no-repeat;
  }

  /* layout, flex */
  main {
    @apply min-h-[calc(100vh-109px)] pb-10;
  }

  .mg-layout {
    @apply flex flex-col items-center justify-center w-full px-4 mobile:px-0 mx-auto py-9 max-w-[440px];
  }

  .mg-layout-row {
    @apply w-full mb-4;
  }

  .mg-flex {
    @apply flex flex-col;
  }

  .mg-flex-center {
    @apply flex items-center;
  }

  .mg-width-size {
    @apply w-[400px];
  }

  /* edit page, luckbag page */

  .mg-white-button {
    @apply px-10 py-3 border rounded-md bg-white/80 hover:bg-white/90 text-primary-normal;
  }

  .mg-share-button {
    @apply w-20 h-20 rounded-full;
  }

  .mg-input {
    @apply px-3 border rounded border-mono-borderNormal;
  }

  .mg-border-2 {
    @apply border rounded-md border-mono-borderNormal;
  }

  .mg-icon-button-round {
    @apply w-12 h-12 rounded-full bg-secondary-normal mg-flex-center;
  }

  .mg-floating-button {
    @apply z-10 transition-all ease-in bg-[length:25px_25px] my-1 w-12 h-12 bg-center bg-no-repeat mg-share-button;
  }

  .mg-floating-button-long {
    @apply text-white py-3 pl-4 w-[230px] mg-flex-center justify-center bg-[center_left_1rem] rounded-[100px] relative transition-all ease-in bg-[length:25px_25px] my-1 bg-no-repeat;
  }

  .mg-arrow-button {
    @apply bg-[url(/images/ico/ico-banner-arrow.svg)] w-6 h-6 mg-background;
  }

  .mg-modal-input {
    @apply w-full p-3 border rounded border-mono-borderNormal;
  }

  .mg-bok-layout {
    @apply bg-center relative justify-center w-full max-w-[440px] aspect-2/3 border border-mono-borderNormal mg-flex overflow-hidden rounded-xl;
  }

  .mg-bok-layout-row {
    @apply absolute flex flex-row items-center justify-center w-full px-1;
  }

  .mg-greet-message {
    @apply relative z-[11] w-[360px] h-auto py-3.5 px-4 pr-6 border border-mono-borderNormal bg-[#FFFFFFCC] rounded-[14px];
  }

  .mg-greet-message > p {
    @apply max-h-[300px] overflow-y-scroll w-full min-h-[2.5rem] text-sm break-words text-mono-textNormal;
  }

  .mg-greet-dropdown {
    @apply absolute w-[20px] h-[20px] right-[6px] top-[24px] bg-[url(/images/ico/ico-dropdown.svg)] bg-center bg-no-repeat origin-center will-change-transform rotate-0;
  }

  .mg-greet-dropdown.open {
    @apply rotate-180;
  }

  .mg-greet-button {
    @apply absolute min-w-[230px] font-bold mg-white-button top-[40%] bg-[center_left_1rem] mg-background bg-[url(/images/content/ico-upload-image.svg)] pl-14 cursor-pointer z-10;
  }

  .mg-luckybag-wrapper {
    @apply flex justify-center items-center text-white relative bg-no-repeat bg-[100%_auto] bg-center bg-[url(/images/content/img-basket.svg)] w-[370px] h-[160px] aspect-[2.3/1];
  }

  .mg-luckybag-wrapper > button {
    @apply absolute w-[65px] h-[80px] bg-no-repeat bg-contain bg-center;
  }

  .mg-luckybag-wrapper > button.active {
    @apply animate-[bounce_1s_1500ms_infinite];
  }

  .mg-luckybag-wrapper > button.active {
    @apply before:content-[''] before:w-[10px] before:h-[10px] before:bg-warning-normal before:rounded-full before:absolute before:top-1 before:left-1 before:animate-ping;
  }

  .mg-luckybag-wrapper > :nth-child(2n).active {
    @apply animate-[bounce_1.5s_1500ms_infinite];
  }

  .mg-luckybag-wrapper > :nth-child(3n).active {
    @apply animate-[bounce_1.2s_1500ms_infinite];
  }

  .mg-luckybag-wrapper > :nth-child(1) {
    @apply top-[10px] left-[45px] z-10;
  }
  .mg-luckybag-wrapper > :nth-child(2) {
    @apply top-[-30px] left-[90px];
  }
  .mg-luckybag-wrapper > :nth-child(3) {
    @apply top-[30px] left-[120px] z-10;
  }
  .mg-luckybag-wrapper > :nth-child(4) {
    @apply top-[-30px] left-[160px];
  }
  .mg-luckybag-wrapper > :nth-child(5) {
    @apply top-[30px] left-[190px] z-10;
  }
  .mg-luckybag-wrapper > :nth-child(6) {
    @apply top-[-30px] left-[230px];
  }
  .mg-luckybag-wrapper > :nth-child(7) {
    @apply top-[10px] left-[265px] z-10;
  }

  .mg-luckybag-wrapper > button[data-type="1"][data-color="1"] {
    @apply bg-[url(/images/content/img-bok1-1.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="1"][data-color="2"] {
    @apply bg-[url(/images/content/img-bok1-2.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="1"][data-color="3"] {
    @apply bg-[url(/images/content/img-bok1-3.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="1"][data-color="4"] {
    @apply bg-[url(/images/content/img-bok1-4.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="1"][data-color="5"] {
    @apply bg-[url(/images/content/img-bok1-5.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="2"][data-color="1"] {
    @apply bg-[url(/images/content/img-bok2-1.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="2"][data-color="2"] {
    @apply bg-[url(/images/content/img-bok2-2.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="2"][data-color="3"] {
    @apply bg-[url(/images/content/img-bok2-3.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="2"][data-color="4"] {
    @apply bg-[url(/images/content/img-bok2-4.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="2"][data-color="5"] {
    @apply bg-[url(/images/content/img-bok2-5.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="3"][data-color="1"] {
    @apply bg-[url(/images/content/img-bok3-1.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="3"][data-color="2"] {
    @apply bg-[url(/images/content/img-bok3-2.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="3"][data-color="3"] {
    @apply bg-[url(/images/content/img-bok3-3.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="3"][data-color="4"] {
    @apply bg-[url(/images/content/img-bok3-4.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="3"][data-color="5"] {
    @apply bg-[url(/images/content/img-bok3-5.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="4"][data-color="1"] {
    @apply bg-[url(/images/content/img-bok4-1.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="4"][data-color="2"] {
    @apply bg-[url(/images/content/img-bok4-2.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="4"][data-color="3"] {
    @apply bg-[url(/images/content/img-bok4-3.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="4"][data-color="4"] {
    @apply bg-[url(/images/content/img-bok4-4.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="4"][data-color="5"] {
    @apply bg-[url(/images/content/img-bok4-5.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="5"][data-color="1"] {
    @apply bg-[url(/images/content/img-bok5-1.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="5"][data-color="2"] {
    @apply bg-[url(/images/content/img-bok5-2.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="5"][data-color="3"] {
    @apply bg-[url(/images/content/img-bok5-3.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="5"][data-color="4"] {
    @apply bg-[url(/images/content/img-bok5-4.svg)];
  }
  .mg-luckybag-wrapper > button[data-type="5"][data-color="5"] {
    @apply bg-[url(/images/content/img-bok5-5.svg)];
  }

  .mg-luckybag-wrapper .slick-list {
    @apply w-full;
  }

  /* Modal */
  .mg-modal-container {
    @apply fixed top-0 bottom-0 left-0 right-0 flex mobile:bg-black/20 mobile:items-center mobile:justify-center z-[9999];
  }

  .mg-modal-panel {
    @apply relative flex flex-col items-center w-full mobile:max-w-[440px] h-auto bg-white mobile:rounded-[20px] p-5 pt-[40px] mobile:shadow-context;
  }

  .mg-modal-close {
    @apply absolute right-[10px] top-[10px] w-[30px] h-[30px] bg-[url(/images/ico/ico-modal-close.svg)] bg-no-repeat;
  }

  .mg-modal-title {
    @apply flex flex-row items-center mb-2 text-base font-medium;
  }

  .mg-modal-confirm {
    @apply relative flex flex-col items-center max-w-[400px] h-auto bg-white rounded-[20px] p-5 pt-[40px] shadow-context;
  }

  /* Validation */
  .mg-vaild-success {
    @apply text-success-normal;
  }

  .mg-vaild-error {
    @apply text-danger-normal;
  }

  /* Link */
  .mg-link {
    @apply font-medium underline text-link hover:text-linkHover underline-offset-2;
  }
}
